.zd-help {
  background-color: #d00;
  display: inline-block;
  width: 20px;
  text-align: center;
  height: 20px;
  border-radius: 10px;
  line-height: 20px;
  color: #FFF;
  cursor: help;
}

.zd-tab {
  display: none;
}
.zd-tab label {
  font-weight: 700;
}
.zd-tab input, .zd-tab label {
  display: inline-block;
}
.zd-tab label.image-label {
  display: block;
  margin-bottom: 10px;
}
.zd-tab textarea {
  display: block;
}
.zd-tab.zd-active-tab {
  display: block;
}
.zd-tab .input-group {
  border-bottom: 1px solid #DDD;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.zd-image-src-output {
  width: 50%;
}

.zd-hide {
  display: none;
}

.zd-input-group {
  margin-bottom: 20px;
}
