/* line 260, ../fnd/bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-version {
  font-family: "/5.2.2/";
}

/* line 264, ../fnd/bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em;
}

/* line 269, ../fnd/bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}

/* line 274, ../fnd/bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

/* line 279, ../fnd/bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

/* line 284, ../fnd/bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

/* line 289, ../fnd/bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-data-attribute-namespace {
  font-family: false;
}

/* Foundation Dropdowns */
/* line 219, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown {
  position: absolute;
  left: -9999px;
  list-style: none;
  margin-left: 0;
  width: 100%;
  max-height: none;
  height: auto;
  background: white;
  border: solid 1px #cccccc;
  font-size: 0.875rem;
  z-index: 99;
  margin-top: 2px;
  max-width: 200px;
}
/* line 69, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown > *:first-child {
  margin-top: 0;
}
/* line 70, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown > *:last-child {
  margin-bottom: 0;
}
/* line 95, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 6px;
  border-color: transparent transparent white transparent;
  border-bottom-style: solid;
  position: absolute;
  top: -12px;
  left: 10px;
  z-index: 99;
}
/* line 102, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 7px;
  border-color: transparent transparent #cccccc transparent;
  border-bottom-style: solid;
  position: absolute;
  top: -14px;
  left: 9px;
  z-index: 98;
}
/* line 110, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown.right:before {
  left: auto;
  right: 10px;
}
/* line 114, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown.right:after {
  left: auto;
  right: 9px;
}
/* line 222, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown.drop-right {
  position: absolute;
  left: -9999px;
  list-style: none;
  margin-left: 0;
  width: 100%;
  max-height: none;
  height: auto;
  background: white;
  border: solid 1px #cccccc;
  font-size: 0.875rem;
  z-index: 99;
  margin-top: 0;
  margin-left: 2px;
  max-width: 200px;
}
/* line 69, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown.drop-right > *:first-child {
  margin-top: 0;
}
/* line 70, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown.drop-right > *:last-child {
  margin-bottom: 0;
}
/* line 124, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown.drop-right:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 6px;
  border-color: transparent white transparent transparent;
  border-right-style: solid;
  position: absolute;
  top: 10px;
  left: -12px;
  z-index: 99;
}
/* line 131, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown.drop-right:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 7px;
  border-color: transparent #cccccc transparent transparent;
  border-right-style: solid;
  position: absolute;
  top: 9px;
  left: -14px;
  z-index: 98;
}
/* line 226, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown.drop-left {
  position: absolute;
  left: -9999px;
  list-style: none;
  margin-left: 0;
  width: 100%;
  max-height: none;
  height: auto;
  background: white;
  border: solid 1px #cccccc;
  font-size: 0.875rem;
  z-index: 99;
  margin-top: 0;
  margin-left: -2px;
  max-width: 200px;
}
/* line 69, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown.drop-left > *:first-child {
  margin-top: 0;
}
/* line 70, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown.drop-left > *:last-child {
  margin-bottom: 0;
}
/* line 145, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown.drop-left:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 6px;
  border-color: transparent transparent transparent white;
  border-left-style: solid;
  position: absolute;
  top: 10px;
  right: -12px;
  left: auto;
  z-index: 99;
}
/* line 153, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown.drop-left:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 7px;
  border-color: transparent transparent transparent #cccccc;
  border-left-style: solid;
  position: absolute;
  top: 9px;
  right: -14px;
  left: auto;
  z-index: 98;
}
/* line 230, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown.drop-top {
  position: absolute;
  left: -9999px;
  list-style: none;
  margin-left: 0;
  width: 100%;
  max-height: none;
  height: auto;
  background: white;
  border: solid 1px #cccccc;
  font-size: 0.875rem;
  z-index: 99;
  margin-top: -2px;
  margin-left: 0;
  max-width: 200px;
}
/* line 69, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown.drop-top > *:first-child {
  margin-top: 0;
}
/* line 70, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown.drop-top > *:last-child {
  margin-bottom: 0;
}
/* line 168, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown.drop-top:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 6px;
  border-color: white transparent transparent transparent;
  border-top-style: solid;
  position: absolute;
  top: auto;
  bottom: -12px;
  left: 10px;
  right: auto;
  z-index: 99;
}
/* line 177, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown.drop-top:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 7px;
  border-color: #cccccc transparent transparent transparent;
  border-top-style: solid;
  position: absolute;
  top: auto;
  bottom: -14px;
  left: 9px;
  right: auto;
  z-index: 98;
}
/* line 235, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown li {
  font-size: 0.875rem;
  cursor: pointer;
  line-height: 1.125rem;
  margin: 0;
}
/* line 206, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown li:hover, .f-dropdown li:focus {
  background: #eeeeee;
}
/* line 208, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown li a {
  display: block;
  padding: 0.5rem;
  color: #555555;
}
/* line 238, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown.content {
  position: absolute;
  left: -9999px;
  list-style: none;
  margin-left: 0;
  padding: 1.25rem;
  width: 100%;
  height: auto;
  max-height: none;
  background: white;
  border: solid 1px #cccccc;
  font-size: 0.875rem;
  z-index: 99;
  max-width: 200px;
}
/* line 69, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown.content > *:first-child {
  margin-top: 0;
}
/* line 70, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown.content > *:last-child {
  margin-bottom: 0;
}
/* line 241, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown.tiny {
  max-width: 200px;
}
/* line 242, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown.small {
  max-width: 300px;
}
/* line 243, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown.medium {
  max-width: 500px;
}
/* line 244, ../fnd/bower_components/foundation/scss/foundation/components/_dropdown.scss */
.f-dropdown.large {
  max-width: 800px;
}

/* line 50, ../scss/zing-admin.scss */
select {
  width: auto;
}

/* line 55, ../scss/zing-admin.scss */
.zd-help {
  background-color: #d00;
  display: inline-block;
  width: 20px;
  text-align: center;
  height: 20px;
  border-radius: 10px;
  line-height: 20px;
  color: #FFF;
  cursor: help;
}

/* line 67, ../scss/zing-admin.scss */
.zd-help-text {
  font-style: italic;
  color: #999;
}

/* line 72, ../scss/zing-admin.scss */
.zd-admin-tab-nav {
  margin-bottom: 0;
}
/* line 75, ../scss/zing-admin.scss */
.zd-admin-tab-nav .nav-tab-active {
  background-color: #fff;
  border-bottom: 0;
}

/* line 81, ../scss/zing-admin.scss */
.zd-tab {
  display: none;
  padding: 20px;
  background-color: #fff;
}
/* line 86, ../scss/zing-admin.scss */
.zd-tab label {
  font-weight: 700;
  min-width: 150px;
}
/* line 92, ../scss/zing-admin.scss */
.zd-tab input, .zd-tab label {
  display: inline-block;
  margin: 0;
}
/* line 97, ../scss/zing-admin.scss */
.zd-tab label.image-label {
  display: block;
  margin-bottom: 10px;
}
/* line 102, ../scss/zing-admin.scss */
.zd-tab textarea {
  display: block;
  margin-top: 10px;
}
/* line 107, ../scss/zing-admin.scss */
.zd-tab.zd-active-tab {
  display: block;
}
/* line 111, ../scss/zing-admin.scss */
.zd-tab .input-group {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
/* line 118, ../scss/zing-admin.scss */
.zd-tab .button.dropdown {
  display: inline-block;
}
/* line 124, ../scss/zing-admin.scss */
.zd-tab .f-dropdown:focus {
  outline: none;
}
/* line 128, ../scss/zing-admin.scss */
.zd-tab .f-dropdown.icon-dropdown {
  max-width: 900px;
}

/* line 134, ../scss/zing-admin.scss */
.zd-image-src-output {
  width: 50%;
}
/* line 137, ../scss/zing-admin.scss */
.widget-content .zd-image-src-output {
  width: 100%;
}

/* line 142, ../scss/zing-admin.scss */
.zd-image-preview {
  display: inline-block;
  min-width: 64px;
  min-height: 64px;
  background-size: contain;
}

/* line 151, ../scss/zing-admin.scss */
.zd-hide {
  display: none;
}

/* line 155, ../scss/zing-admin.scss */
.zd-input-group {
  margin-bottom: 20px;
}
/* line 158, ../scss/zing-admin.scss */
.widget-content .zd-input-group {
  margin-bottom: 10px;
}
/* line 159, ../scss/zing-admin.scss */
.widget-content .zd-input-group label {
  display: inline-block;
  margin: 5px 0;
}
/* line 167, ../scss/zing-admin.scss */
.postbox .zd-input-group {
  margin-bottom: 10px;
}

/* line 174, ../scss/zing-admin.scss */
.postbox .zd-image-input-wrapper {
  margin-top: 10px;
}

/* line 179, ../scss/zing-admin.scss */
.zd-icon-preview {
  font-size: 16px;
}
/* line 182, ../scss/zing-admin.scss */
.zd-icon-preview i {
  color: #158fef;
}

/* line 187, ../scss/zing-admin.scss */
.zd-icon-list-item {
  display: inline-block;
}
/* line 190, ../scss/zing-admin.scss */
.zd-icon-list-item label {
  min-width: initial;
  padding: 5px;
  text-align: center;
}
/* line 195, ../scss/zing-admin.scss */
.zd-icon-list-item label i {
  padding: 3px;
  background-color: #fff;
  display: inline-block;
  border-radius: 3px;
  -webkit-transition: -webkit-transform 200ms ease, color 200ms, background 200ms;
  -webkit-transition-delay: 150ms, 0s, 0s;
  -moz-transition: -moz-transform 200ms ease 150ms, color 200ms, background 200ms;
  -o-transition: -o-transform 200ms ease 150ms, color 200ms, background 200ms;
  transition: transform 200ms ease 150ms, color 200ms, background 200ms;
}
/* line 203, ../scss/zing-admin.scss */
.zd-icon-list-item label:hover {
  color: #158fef;
}
/* line 206, ../scss/zing-admin.scss */
.zd-icon-list-item label:hover i {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transform: scale(4) translateY(30px);
  -moz-transform: scale(4) translateY(30px);
  -ms-transform: scale(4) translateY(30px);
  -o-transform: scale(4) translateY(30px);
  transform: scale(4) translateY(30px);
}
/* line 216, ../scss/zing-admin.scss */
.zd-icon-list-item input[type="radio"]:checked + label {
  background-color: #fe5723;
}
/* line 218, ../scss/zing-admin.scss */
.zd-icon-list-item input[type="radio"]:checked + label i {
  background-color: #fe5723;
  color: #fff;
}
