// General styles

body {
  font-size: 16px;
//  @extend .antialiased;
  // off set absolute positioned footer
//  padding-bottom: $footer-height;
}

// No classes/IDs, only basic element selectors

h1,
h2,
h3,
h4 {
  line-height: 1.5;
  color: $text-black;
  &.blue {
    color: $electric-blue;
  }
  a {
    color: $electric-blue;
    text-decoration: none;
    &:hover {
      color: $text-black;
    }
  }
}

h1 {
//  font-size: 2.4rem;
  @include rem-font(28);
  margin: 0 0 1.5rem;
  @include _r(mg, 0 0 24);

  &.page-title {
//    font-size: 2rem;
    @include rem-font(24);
  }
}

h2 {
//  font-size: 2rem;
  @include rem-font(24);
//  margin: 0 0 1rem 0;
  @include _r(mg, 0 0 16 0);
}

h3 {
//  font-size: 1.5rem;
  @include rem-font(20);
//  margin: 0 0 0.75rem 0;
  @include _r(mg, 0 0 12 0);
}

h4 {
//  font-size: 1rem;
  @include rem-font(18);
//  margin: 0 0 0.5rem 0;
  @include _r(mg, 0 0 8 0);
}

p {
//  font-size: 1rem;
  @include rem-font(16);
  color: $text-black;
//  line-height: 1.5;
  // max-width might not be needed but all paragraphs should not excede 800px for readablity
//  max-width: 800px;
//  margin-bottom: 1.5rem;
  @include _r(mb, 24);
}

li, p {
  line-height: $para-line-height;
}


// Default link behaviour
a {
//  text-decoration: underline;
  text-decoration: none;
  color: $electric-blue;

  transition: color .25s ease-in-out;

  &:hover {
    color: lighten($electric-blue, 5%);
  }
}

// responsive images
img {
  max-width: 100%;
  height: auto;
}

// Hack fix for weird figure behaviour
figure {
  margin: 0;
  width: auto !important;
}

// form outlines
button,
input {
  outline: none;
}

@media #{$zd-medium-up} {

//  h1 {
//    &.page-title {
//      font-size: 2.4rem;
//    }
//  }


  h1 {
    //    font-size: 2.4rem;
    @include rem-font(38);

    &.page-title {
      @include rem-font(32);
    }
  }

  h2 {
    //    font-size: 2rem;
    @include rem-font(32);
  }

  h3 {
    //    font-size: 1.5rem;
    @include rem-font(24);
  }

  h4 {
    //    font-size: 1rem;
    @include rem-font(16);
  }

  figure {
    margin: 1em 40px;
  }

}