// Declare variables

// Colour palette (example)
//$light-green: #77BD15;
//$blue: #0071B4;
//$footer-grey: #4D4D4D;

// Responsive navigation
$slide-menu-background: #ddd !default;
$menu-toggle-icon-color: #ddd !default;
$menu-toggle-icon-color-hover: darken($menu-toggle-icon-color, 5%);
$menu-toggle-bg-color: #666 !default;
$menu-toggle-bg-color-active: darken($menu-toggle-bg-color, 5%);

$slide-menu-link-color: #666 !default;

$para-line-height: 1.6;
$para-base-font-size: 16;

// Fonts
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;

//Custom media queries

// Retina mega-query!
$retina: "only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx)";

// Common images
$ajax-loader: image-url('ajax-loader.gif');

// Enable CSS support
$legacy-support: true;
$no-js-support: true;
$use-font-awesome: true;
$use-slick-slider: true;