// Declare variables

// raygun colours
$white: #fff;
$black: #000;
$raygun-red: #e6969e;
$electric-blue: #158fef;
//$green: #9aca40;
$green: #8eba3b;
$yellow: #ffbb42;
$orange: #fe5723;
$light-grey: #f0f3f8;
$light-grey-border: #d7e0e9;
$dark-blue: #364760;

$text-black: #222;

$error: $orange;
$success: $green;

/// ----- Foundation settings:

// Links
$default-link-color: $electric-blue;

// Pagination
$pagination-text-color: #fff;
$pagination-bg-color: $electric-blue;
$pagination-active-bg-color: $pagination-text-color;

// Modal
$reveal-modal-bg: $electric-blue;
$reveal-close-color: #fff;
$reveal-radius: rem-calc(3px);

$tooltip-bg: $dark-blue;
$tooltip-close-font-color: #eee;

/// -----

// Responsive navigation
//$slide-menu-background: #ddd !default;
//$menu-toggle-icon-color: #ddd !default;
//$menu-toggle-icon-color-hover: darken($menu-toggle-icon-color, 5%) !default;
//$menu-toggle-bg-color: #666 !default;
//$menu-toggle-bg-color-active: darken($menu-toggle-bg-color, 5%) !default;
//
//$slide-menu-link-color: #666 !default;

$para-line-height: 1.8;
$para-base-font-size: 16px;


// Fixed height values
$header-height: 60px;
$header-height-desktop: 60px;
$footer-height: 170px;

$admin-bar-height-mobile: 46px;
$admin-bar-height-tablet: $admin-bar-height-mobile;
$admin-bar-height-desktop: 32px;


// Fonts
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;

$proxima-nova-fontname: "proxima-nova";
$body-font-family: $proxima-nova-fontname, $helvetica;

//Custom media queries

// Retina mega-query!
$retina: "only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min--moz-device-pixel-ratio: 2),only screen and (-o-min-device-pixel-ratio: 2/1),only screen and (min-device-pixel-ratio: 2),only screen and (min-resolution: 192dpi),only screen and (min-resolution: 2dppx)";

// WordPress' tablet breakpoint
$wp-medium-up: 'only screen and (min-width: 783px)';

// Custom breakpoints for Raygun
$zd-medium: 768px;
$zd-large: 1120px;
$zd-medium-max: $zd-large - 1px;

$zd-medium-up: 'only screen and (min-width: #{$zd-medium})';
$zd-medium-only: 'only screen and (min-width: #{$zd-medium}) and (max-width: #{$zd-medium-max})';
$zd-large-up: 'only screen and (min-width: #{$zd-large})';

  // Common images
$ajax-loader: image-url('ajax-loader.gif');
$header-logo: image-url("logos/logo-raygun-white.svg");
$header-logo-fallback: image-url("logos/logo-raygun-white.png");



// Enable CSS support
$legacy-support: 'ie9';
$no-js-support: true;
$use-font-awesome: true;
$use-slick-slider: true;