// Logo image replacement

.header-logo,
.footer-logo {
  @include ir();
}

// Style's from static mocks

.header-content {
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background: $electric-blue;
  text-align: center;
  z-index: 99999;

  a {
    text-decoration: none;
    color: $white;
    &:hover {
      text-decoration: underline;
      color: $white;
    }
  }
  i {
    color: $white;
    vertical-align: 0;
  }
  .header-align {
    line-height: 60px;
  }
  .header-margin-right {
    margin-right: 10px;
  }

  .admin-bar & {
    margin-top: 46px;
  }

}

.header-sub {
  display: none;
}

.logo-raygun {
  background: center image-url('logos/logo-raygun-white.svg') no-repeat;
  height: 60px;
  width: 75px;
  display: inline-block;
}

.link-back {
  display: none;
}


// WordPress admin-bar fix
@media #{$wp-medium-up}{
  .admin-bar {
    .header {
      margin-top: 32px;
    }
  }
}

@media #{$medium-up} {
  .link-back {
    display: inline-block;
  }
  .header {
    text-align: left;
    .logo-raygun {
      float: left;
      margin: 0 20px 0 0;
    }
  }
  .header-sub {
    position: relative;
    top: 60px;
    left: 0;
    display: block;
    height: 80px;
    width: 100%;
    background: $dark-blue;

    .zd-nav-menu {
      float: left;
    }

    ul {
      list-style: none;
      display: inline-block;
      padding: 0;
      margin: 0;
      overflow: hidden;
    }

    li {
//      display: inline-block;
      float: left;
    }

    .header-align {
      line-height: 80px;
    }

    a:hover {
      color: $white;
    }

    .header-content {
      max-width: 800px;
      overflow: hidden;
    }
  }
}

@media #{$large-up} {
  .header-sub {
    height: 80px;
    .header-align {
      line-height: 90px;
    }
  }
  .header-sub .header-content {
    max-width: 1020px;
  }
}