#zd-image-modal {

  .image-slider {
    @include _r(mt, 30);
//    transition: height 300ms ease-out;

    h2 {
      font-size: 1.2rem;
      text-align: center;
    }

    h2, p {
      color: #FFF;
    }

    img {
      margin: 0 auto;
      display: block;
    }

    p {
      margin: 20px auto;
    }

    .image-slide {
//      width: 0;
//      transition: width 200ms ease-out;
    }
  }
}

@media #{$medium-up} {
  #zd-image-modal {
    .image-slider {

      h2 {
        font-size: 2rem;
      }
    }
  }
}

@media #{$zd-large-up} {
  .slick-prev, .slick-next {
    height: 100%;
    top: 0;
    background-color: #fff;
    transition: background-color 200ms;
    margin: 0;

    &:hover {
      background-color: lighten($electric-blue, 45%);
    }

    &:active {
      background-color: lighten($electric-blue, 35%);
    }
  }
}