#landing-page-container {


}

.content-wrapper {
  background: $light-grey;

}

.content-resources {
//  width: 100%;
//  margin: 60px auto 0;
//  box-sizing: border-box;
//  padding: 40px 20px;
//  overflow: auto;
  padding-top: $header-height + 30px;
}

.resources-card {
  @include _r(mb, 30);

  .resource-card-inner {

    background: #fff;
    border: 1px solid $light-grey-border;
    border-radius: 3px;
  }

  .entry-content {
//    margin-bottom: 20px;

    p {
      margin: 0;
    }

    .read-more-link {
      text-decoration: none;

      &:hover {
        text-decoration: hover;
      }
    }
  }

  &.clear {
    clear: both;
  }
}

.card-image {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  width: 100%;
  background: $electric-blue;
  overflow: hidden;
  position: relative;

  &:before {
    @extend .fa;

    position: absolute;
    top: 65px;
    z-index: 0;
    font-size: 90px;
    color: darken($electric-blue, 5%);
    width: 100%;
    text-align: center;
  }

  &:empty {
    height: 220px;
  }

  a {
    display: block;
  }

  img {
    z-index: 1;
    position: relative;
    width: 100%;
  }

  &.resources-card-image {
    @extend .fa-file-image-o;
  }

  &.white-paper-card-image {
    @extend .fa-file-text-o;
  }
}

.resources-card-content {
  width: 100%;
  padding: 32px;
//  box-sizing: border-box;
  position: relative;
  
  h3 {
//    margin: 0.25rem 0;
    @include _r(mg, 4 0);

    a {
      color: inherit;
    }
  }

  .edit-link {
    text-align: center;
    display: inline-block;
    @include _r(mt, 20);

    a {
      display: block;
      padding: 10px 40px;
      color: #fff;
      background-color: $green;
      border-radius: 3px;

      &:before {
        color: #fff;
      }

      &:hover {
        background-color: lighten($green, 5%);
      }
    }
  }
}

.resources-card-meta {
  i {
    margin-left: 20px;
    margin-right: 10px;
    color: $electric-blue;

    &:first-child {
      margin-left: 0;
    }
  }
}

// Post modal
//#zd-post-modal {
//  background-color: #fff;

//  &.loading {
//    text-align: center;
//    min-height: 100px;
//  }

//  .close-reveal-modal {
//    color: $electric-blue;
//  }
//}

//.excerpt-wrapper {
//  height: auto;
//  transition: height 220ms ease-out;
//}


@media #{$zd-medium-up} {
  .content-resources {
//    margin: 140px auto 0;
//    width: 680px;
//    padding: 80px 0;
  }

  .resources-card-image {

    height: 220px;

//    img {
//      width: auto;
//    }
  }

  .no-js {
    .resources-card {
      //    margin: 0 10px 20px 10px;
      //    width: 100%;

      .entry-content {

        @include restrict-height-by-lines(4);
      }
    }
  }

}

@media #{$zd-large-up} {

//  #landing-page-container {
//    padding-top: 0;
//  }

  .no-js {
    .content-resources {
      //    margin: 60px auto 0;
      //    width: 1040px;
      //    padding: 80px 10px 0;
      @include _r(pt, 30);
    }
  }


  .resources-card {

    &:nth-child(6n+1) {
//      width: 660px;

      .entry-content {
        height: auto;
      }

//      & + .large {
////        width: 320px;
//
//        .entry-content {
//
//          .no-js & {
//            @include restrict-height-by-lines(4);
//          }
//        }
//      }
    }

    //    &:first-child,
    //    &:nth-child(4){
    //      width: 660px;
    //    }
  }
}