.entry-title {
  a {
    color: inherit;

    &:hover {
      color: #666;
    }
  }
}

article {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #D8D8D8;

  header {
    .entry-title{
      font-size: 1.5rem;

      a{
        color: $text-black;

//        &:hover{
//          color: $electric-blue;
//        }

      }
    }
  }

  img{
    margin-bottom: 1.5rem;
  }

  button {
    margin-bottom: 40px;
  }
}

.entry-content {
//  margin-bottom: 1rem;

  a {
    text-decoration: underline;

    &.button {
      text-decoration: none;
    }
  }
}

.entry-meta{
  margin-bottom: 1rem;
  line-height: 1.5;
  @include rem-font(14);

  i{
    color: $electric-blue;
    margin-right: 10px;
  }

  span {
    display: block;
    line-height: 1.5;

    &.cat-links {
      display: none;
    }

    &:before {
      color: $electric-blue;
      margin-right: 10px;
    }

    a {
      color: $text-black;

      &:hover {
        color: #666;
      }
    }
  }

}

footer.entry-meta {
  margin-top: 1rem;

  .tag-links {
    a {

      @extend .fa-tag;
      line-height: normal;
      display: inline-block;
      margin-right: 5px;

      &:before {
        @extend .fa;
        color: $electric-blue;
        margin-right: 5px;
      }
    }
  }
}

.comments-link {
  a:before {
    display: none;
  }

}

blockquote {
  margin-left: 0;
  border-left: 5px solid $electric-blue;
  padding: 10px 0 10px 20px;

  p {
    font-size: 1.25rem;
    line-height: 1.5;
    font-style: italic;
    color: #666;
    margin: 0;
  }
}

.post-code{
  background: $light-grey;
  border-radius: 3px;
  border: 1px solid $light-grey-border;
  margin-bottom: 1rem;
  overflow-x: auto;

  ol{
    counter-reset: li;
    margin-left: 0;
    padding-left: 0;
    min-width: 618px;
    box-sizing: border-box;

    & > li{
      position: relative;
      margin: 0 0 0 60px;
      padding: 0.25rem 0;
      list-style: none;

      &:before{
        content: counter(li);
        counter-increment: li;
        position: absolute;
        left: -60px;
        top: 0;
        box-sizing: border-box;
        width: 40px;
        text-align: center;
        padding: 0.25rem 0;
        border-right: 1px solid $light-grey-border;
      }
    }
  }

  .blue{
    color: $electric-blue;
  }

  .green{
    color: $green;
  }

  .red{
    color: $raygun-red;
  }

}
.post-share{

//  button,
  a {
    width: 100%;
    margin: 0 0 20px;
    text-align: center;
  }

}

// Icons

span.author,
time.entry-date,
.comments-link {
  &:before {
    @extend .fa;
    margin-right: 10px;
    color: $electric-blue;
  }
}

span.author {
  @extend .fa-user;
}

time.entry-date {
  @extend .fa-clock-o;
}

.comments-link {
  @extend .fa-comment;
}

// Category icons
[class*="category-icon"] {

  @extend .fa-file-text-o;

  &:before {
    @extend .fa;
    color: $electric-blue;
    margin-right: 10px;
  }

  &.category-icon-development {
    @extend .fa-code;
  }

  &.category-icon-research {
    @extend .fa-lightbulb-o;
  }

  &.category-icon-raygun-labs {
    @extend .fa-flask;
  }

  &.category-icon-case-studies {
    @extend .fa-flask;
  }

}


// Crayon (syntax highlighter) style overrides

.crayon-syntax {
  &.crayon-theme-raygun {
    border-radius: 3px;

    .crayon-main {
      padding: 1rem;
    }
  }
}

.pagination {
  text-align: center;

  .landing-page & {
    padding: 40px 0;
  }
}

@media #{$zd-medium-up}{
  blockquote{
    font-size: 1.5rem;
  }

  article {
    header {
      .entry-title {
        font-size: 2rem;
      }
    }
  }

  .entry-meta {
    span {

      margin-right: 15px;
      display: inline-block;

      &.cat-links {
        display: inline-block;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .post-share {
    a {
      padding: 0 20px;
    }
  }


}

@media #{$zd-medium-only} {
  .entry-content {
    iframe {
      width: 100%;
    }
  }
}

@media #{$zd-large-up} {

  .post-share {
    a {
      width: auto;
      margin: 0 10px 0 0;
      padding: 0 30px;

      &:last-child{
        margin-right: 0;
      }

    }

  }
}