.content-wrapper {
  background: $light-grey;

}

.content-resources {
  width: 100%;
  margin: 60 auto 0 auto;
  box-sizing: border-box;
  padding: 40px 20px;
  overflow: auto;
}

.resources-card {
  background: $white;
  border: 1px solid $light-grey-border;
  width: 100%;
  border-radius: 3px;
  float: left;
  margin: 0 0 20px 0;
  box-sizing: border-box;
}

.resources-card-image {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  width: 100%;
  height: 220px;
  background: $electric-blue;
}

.resources-card-content {
  width: 100%;
  padding: 32px;
  box-sizing: border-box;
  h3 {
    margin: 0.25rem 0;
  }
}

.resources-card-meta {
  i {
    margin-left: 20px;
    margin-right: 10px;
    color: $electric-blue;
    &:first-child {
      margin-left: 0;
    }
  }
}

@media only screen and (min-width: 815px) {
  .content-resources {
    margin: 140 auto 0 auto;
    width: 680px;
    padding: 80px 0;
  }
  .resources-card {
    margin: 0 10px 20px 10px;
    width: 320px;
    height: 500px;
    &.large {
      width: 660px;
    }
  }
}

@media only screen and (min-width: 1035px) {
  .content-resources {
    margin: 150 auto 0 auto;
    width: 1040px;
    padding: 80px 10;
  }
}