body {

  left: 0;
  right: 0;
  overflow-y: visible;

  transition: left 0.3s ease, right 0.3s ease;
//  @include transition(right 0.3s ease);

  &.cbp-body-open {
    overflow-y: hidden;
  }
}

/* General styles for all menus */
.cbp-spmenu {
  background-color: $slide-menu-background;
  position: fixed;
  overflow: scroll;
  overflow-x: hidden;

  //  @include transition(box-shadow 250ms);
  box-shadow: inset 0 0 transparent;

  &.cbp-spmenu-open {
    box-shadow: inset 3px 0 5px rgba(#000, 0.1);

  }

//  h3 {
//    color: #afdefa;
//    font-size: 1.9em;
//    padding: 20px;
//    margin: 0;
//    font-weight: 200;
//    background-color: $slide-menu-background;
//  }

  a {
    display: block;
    font-weight: 200;
    color: $slide-menu-link-color;
    
    @include rem-font(16);

    &:hover {
      background-color: darken($slide-menu-background, 5%);
    }

    &:active {
      background-color: darken($slide-menu-background, 10%);
      color: darken($slide-menu-link-color, 10%);
    }


    &.cart-link {
      i {
        margin-right: 10px;
      }

    }
  }

  ul {
    margin: 0;
  }

  img {
    display: inline-block;
    width: 30px;
    height: 30px;
  }

//  .admin-bar & {
//    padding-top: 46px;
//  }

}


/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;

  a {
    border-bottom: 1px solid darken($slide-menu-background, 10%);
    padding: .75em;
  }
}

.cbp-spmenu-horizontal {
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 1000;
  overflow: hidden;

  h3 {
    height: 100%;
    width: 20%;
    float: left;
  }

  a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid darken($slide-menu-background, 20%);
  }
}


/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
  left: -240px;
}

.cbp-spmenu-right {
  right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
  top: -150px;
}

.cbp-spmenu-bottom {
  bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
  top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
  bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.cbp-spmenu-push-toright {
  left: 240px;
}

.cbp-spmenu-push-toleft {
  left: -240px;
}

/* Transitions */

//.cbp-menu-body,
.cbp-spmenu,
.cbp-spmenu-push {
//  -webkit-transition: all 0.3s ease;
//  -moz-transition: all 0.3s ease;
//  transition: all 0.3s ease;
  transition: all 0.3s ease;
}

// Toggle button

.burger-icon {
  padding: 10px 18px;
  color: $menu-toggle-icon-color;
  cursor: pointer;
  background-color: $menu-toggle-bg-color;

  @include rem-font(30);


  &:hover {
    color:$menu-toggle-icon-color-hover;
  }

  &.active {
    background-color: $menu-toggle-bg-color-active;
  }
}

#showRight {
  float: left;
}

#showLeft {
  float: right;
}

// Menu Overlay
.cbp-menu-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: transparent;
  display: none;

  .cbp-body-open & {
    display: block;
    cursor: pointer;
  }
}

/* Example media queries */

@media screen and (max-width: 55.1875em) {

  .cbp-spmenu-horizontal {
    font-size: 75%;
    height: 110px;
  }

  .cbp-spmenu-top {
    top: -110px;
  }

  .cbp-spmenu-bottom {
    bottom: -110px;
  }

}

@media screen and (max-height: 26.375em) {

  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px;
  }

  .cbp-spmenu-left,
  .cbp-spmenu-push-toleft {
    left: -190px;
  }

  .cbp-spmenu-right {
    right: -190px;
  }

  .cbp-spmenu-push-toright {
    left: 190px;
  }
}

//@media only screen and (min-width: 783px) {
//  .admin-bar {
//    .cbp-spmenu {
//      padding-top: 32px;
//    }
//  }
//}