.content-wrapper {
  background: $light-grey;

}

.content-resources {
  width: 100%;
  margin: 60px auto 0;
  box-sizing: border-box;
  padding: 40px 20px;
  overflow: auto;
}

.resources-card {
  background: #fff;
  border: 1px solid $light-grey-border;
  width: 100%;
  border-radius: 3px;
  float: left;
  margin: 0 0 20px 0;
  box-sizing: border-box;

  .entry-content {
    margin-bottom: 20px;

    p {
      margin-top: 0;
    }


  }

  &.clear {
    clear: both;
  }
}

.card-image {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  width: 100%;
  background: $electric-blue;
  overflow: hidden;
  position: relative;

  &:before {
    @extend .fa;

    position: absolute;
    top: 65px;
    z-index: 0;
    font-size: 90px;
    color: darken($electric-blue, 5%);
    width: 100%;
    text-align: center;
  }

  &:empty {
    height: 220px;
  }

  a {
    display: block;
  }

  img {
    z-index: 1;
    position: relative;
    width: 100%;
  }

  &.resources-card-image {
    @extend .fa-file-image-o;
  }

  &.white-paper-card-image {
    @extend .fa-file-text-o;
  }
}

.resources-card-content {
  width: 100%;
  padding: 32px;
  box-sizing: border-box;
  position: relative;
  
  h3 {
    margin: 0.25rem 0;

    a {
      color: inherit;
    }
  }

  .edit-link {
    text-align: center;
    display: inline-block;
//    position: absolute;
//    margin: 0;
//    bottom: 0;
//    left: 0;
//    right: 0;

    a {
      display: block;
      padding: 10px 40px;
      color: #fff;
      background-color: $green;
      border-radius: 3px;

      &:before {
        color: #fff;
      }

      &:hover {
        background-color: darken($green, 5%);
      }
    }
  }
}

.resources-card-meta {
  i {
    margin-left: 20px;
    margin-right: 10px;
    color: $electric-blue;

    &:first-child {
      margin-left: 0;
    }
  }
}

// Flex box

.flexbox {
  .content-resources {
    display: flex;
    flex: 1 100%;
//    @include flexbox();
//    @include flex(1 100%);
    flex-flow: row wrap;
//    justify-content: space-around;

    .resources-card {

    }
  }
}

@media #{$zd-medium-up} {
  .content-resources {
//    margin: 140px auto 0;
    width: 680px;
    padding: 80px 0;
  }

  .resources-card-image {

    height: 220px;

//    img {
//      width: auto;
//    }
  }

  .resources-card {
//    margin: 0 10px 20px 10px;
    width: 100%;
  }
}

@media #{$zd-large-up} {
  .content-resources {
//    margin: 60px auto 0;
    width: 1040px;
    padding: 80px 10px 0;
  }


  .resources-card {
    margin: 0 10px 20px 10px;
    //    min-height: 500px;

    width: 320px;

    .entry-content {

      @include restrict-height-by-lines(4);
    }

//    &.normal {
//    }

    &.large {
      width: 660px;

      .entry-content {
        height: auto;
      }

      & + .large {
        width: 320px;

        .entry-content {
          @include restrict-height-by-lines(4);
        }
      }
    }

    //    &:first-child,
    //    &:nth-child(4){
    //      width: 660px;
    //    }
  }
}