.grey-box {

  background: $light-grey;
  border-radius: 3px;
//  padding: 32px 40px;
  @include _r(pd, 20);

}

.widget{
  @extend .grey-box;

  h3{
    margin: 0;
  }

  .widget-title {
    @include _r(mb, 20);
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      font-size: 1rem;
      @include _r(mt, 20);

      &:first-child {
        margin-top: 0;
      }
    }

    a {
      font-weight: 700;
    }
  }

  &.sidebar-newsletter,
  &.zd-sticky-content {
    background-color: #fff;
    padding: 0;
  }
}

.sidebar-features-item{
  margin-top: 20px;
  a {
    color: $electric-blue;
    &:hover {
      color: $text-black;
    }
  }
//  i{
//    margin-right: 10px;
//    &:last-child{
//      margin-left: 20px;
//    }
//  }

  .sidebar-features-meta {
    span {
      margin-right: 5px;
      line-height: 1.5;
      display: inline-block;

      &:before {
        margin-right: 5px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

//.sidebar-newsletter {
////  margin-top: 40px;
//  h3 {
//    color: $electric-blue;
//  }
//}

.input-email{
  background: $light-grey;
  border-radius: 3px;
  border: 1px solid $light-grey-border;
  box-sizing: border-box;
  height: 54px;
  padding: 0 24px;
  margin-bottom: 16px;

  &.full-width{
    width: 100%;
  }
}

.widget {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media #{$zd-large-up} {
  .grey-box {
    @include _r(pd, 32 40);
  }
}