// User Interface

// Hack offset for fixed header
.tooltip {
  margin-top: -$header-height;
}

.menu-toggle {
  display: none;
}

.zd-input-group {
  margin-bottom: 20px;

  input,
  textarea {
    border: 1px solid #ddd;
    transition: box-shadow 150ms;

    &.input-error,
    &.error {
      border-color: $error;
    }

    &:focus {
      box-shadow: inset 0 1px 2px rgba(#000, 0.1);
    }
  }

  select {
    width: auto;
  }
}

small.error {
  color: $error;
  display: block;
  margin-top: 5px;
}

.general-message {
  background-color: #f9f9f9;

  &.error  {

    p {
      border-color: $error;
    }

  }

  &.success {

    p {
      border-color: $success;
    }

  }

  p {
    padding: 20px;
    margin: 0;
    border-left: 5px solid;
  }
}

// lazy loading images
img[data-original] {
//  background: $ajax-loader center no-repeat;
}