
.white-paper-card {
  @include _r(mb, 30);

  .white-paper-inner {
    width: 100%;
  }

  .edit-link {
    text-align: center;
    display: inline-block;

    a {
      display: block;
      padding: 10px 40px;
      color: #fff;
      background-color: $green;
      border-radius: 3px;

      &:before {
        color: #fff;
      }

      &:hover {
        background-color: lighten($green, 5%);
      }
    }
  }
}

.white-paper-card-image {
  margin-bottom: 20px;
}

// Form

.form-title {
  @include rem-val(mb, 20);
}

#white-paper-form {
//  @extend .grey-box;

  label {
    display: block;
    margin-bottom: 5px;
    @include rem-font(14);
  }

  input {
    padding: 5px;
    width: 100%;
  }

  .has-tip {
    @include rem-font(10);
    font-style: italic;
    display: inline-block;
    margin: 0;
    padding: 0;
    clear: both;
  }
}

@media #{$zd-medium-up} {

//  #white-paper-form {
//    input {
//      width: 80%;
//    }
//  }

}