

.zd-sticky-content {

//  position: static;
//
//  &.fixed {
//    position: fixed;
//    top: 0;
//  }

  &.affix-bottom {
    position: absolute;
  }

}

$sticky-content-offset: $header-height-desktop + 40px;

@media #{$zd-medium-up} {

  .affix {
    position: fixed;
  }

  .zd-sticky-content {

    width: inherit;
    // Add top 'padding'
    top: $sticky-content-offset;

    .admin-bar & {
      top: ( strip-unit($sticky-content-offset) + strip-unit($admin-bar-height-tablet)) * 1px;
    }

    .medium-4 & {
      width: 226px;
    }

  }

}

@media #{$zd-medium-up} and (orientation: landscape) {
  .zd-sticky-content {
    .medium-4 & {
      width: 311px;
    }
  }
}

@media #{$zd-large-up} {

  .zd-sticky-content {

    width: auto;
    top: $sticky-content-offset;

    .admin-bar & {
      top: ( strip-unit($sticky-content-offset) + strip-unit($admin-bar-height-desktop)) * 1px;
    }

    img {
      width: 100%;
    }

    .large-4 & {
      width: 343px;
    }

  }

}