// WordPress-specific overrides
// Alignment, default post content styles

/* Alignment */

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote.alignleft,
img.alignleft {
  margin: 7px 24px 7px 0;
}

.wp-caption.alignleft {
  margin: 7px 14px 7px 0;
}

blockquote.alignright,
img.alignright {
  margin: 7px 0 7px 24px;
}

.wp-caption.alignright {
  margin: 7px 0 7px 14px;
}

blockquote.aligncenter,
img.aligncenter,
.wp-caption.aligncenter {
  margin-top: 7px;
  margin-bottom: 7px;
}

.site-content blockquote.alignleft,
.site-content blockquote.alignright {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 17px;
  width: 50%;
}

.site-content blockquote.alignleft p,
.site-content blockquote.alignright p {
  margin-bottom: 17px;
}

.wp-caption {
  margin-bottom: 24px;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0;
}

.wp-caption {
  color: #767676;
}

.wp-caption-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
  font-size: 12px;
  font-style: italic;
  line-height: 1.5;
  margin: 9px 0;
  padding-right: 10px;
}

.wp-smiley {
  border: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

//WordPress icons

//Show tag link icon only on single
.single {
  .tag-links {
    a {
      @include rem-val(margin-right, 10px);
      @extend .fa-tag;
      &:before {
        @extend .fa;
//        @extend .genericon;
//        content: '\f302';
        //      vertical-align: bottom;
      }
    }
  }
}

.comments-link {
  @include rem-val(margin-right, 10px);
  a {
    @extend .fa-comment;
    &:before {
      @extend .fa;
//      @extend .genericon;
      margin-right: 5px;
//      content: '\f412';
    }
  }
}

.edit-link {
  a {
    @extend .fa-edit;

    &:before {
//      @extend .genericon;
//      content: '\f411';
      @extend .fa;
      margin-right: 10px;
      color: $electric-blue;
    }

    &.comment-edit-link {
      &:before {
        vertical-align: baseline;
      }
    }
  }
}

.nav-links {
  @include clearfix();
  margin-bottom: 40px;

  a {
    width: 50%;
    padding: 0 5px;
    line-height: 1.5;

    &[rel="prev"] {
      float:left;
      @extend .fa-long-arrow-left;
      &:before {
        @extend .fa;
//        @extend .genericon;
//        content: '\f430';
        line-height: 1.5;
        margin-right: 10px;
      }
    }
    &[rel="next"] {
      float: right;
      text-align: right;
      @extend .fa-long-arrow-right;
      &:before {
        @extend .fa;
        line-height: 1.5;
        float: right;
        margin-left: 10px;
      }
    }
  }
}


// Comments

#comments {

  .comments-title {
    font-size: 1.4rem;
  }

  .comment-list {
    list-style-type: none;
    padding-left: 0;

    ol {
      list-style-type: none;
    }
  }

  .reply {
    .comment-reply-link {
      @extend .button;
      @extend .orange;
      @extend .fa;
      @extend .fa-reply;

//      padding-top: 10px;
//      padding-bottom: 10px;
//      background-color: $orange;
      height: 36px;
      line-height: 36px;

      &:before {
        margin-right: 10px;
      }
    }
  }



  .avatar {
    margin-bottom: 0;
  }

  article {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .comment-metadata {
    .edit-link {
      margin-left: 20px;
    }
  }

  .comment-content {
    word-wrap: break-word;
  }
}

.form-allowed-tags {
  font-size: 0.8rem;
}


// Pagination

.page-numbers {
  background-color: $pagination-bg-color;
  color: $pagination-text-color;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
  transition: background 200ms ease-out;
  border: 1px solid $pagination-bg-color;

  &:hover {
    color: $pagination-text-color;
    background-color: darken( $pagination-bg-color, 10% );
  }

  &:active {
    box-shadow: inset 0 1px rgba(#fff, .5);
  }

  &.prev,
  &.next,
  &.dots {
    background-color: transparent;
    width: auto;
    color: $pagination-bg-color;
    border: 0;

    &:hover {
      color: $pagination-bg-color;
    }
  }

  &.prev,
  &.next {
    display: block;
    &:hover {
      color: darken( $pagination-bg-color, 10% );
    }
  }

  &.next {
    margin: 10px 0 0;
  }

  &.prev {
    margin: 0 0 10px;
  }

  &.current {
    background-color: $pagination-active-bg-color;
    color: $pagination-bg-color;
  }
}


// Tag cloud
.tagcloud {
  a {
    &:hover {
      color: darken($default-link-color, 10%);
    }
  }
}

@media #{$medium-up} {
  .nav-links {
//    margin-bottom: 0;
  }

  .page-numbers {
    &.prev,
    &.next {
      display: inline-block;
    }

    &.next {
      margin: 0 0 0 10px;
    }

    &.prev {
      margin: 0 10px 0 0;
    }
  }
}